.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  padding: 0.5rem 0;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
